.home {
    border-radius: 0.6ream;
    border-color:blueviolet;
    border-style: hidden;
    padding-bottom: 0.5rem;
    background-color:rgb(232, 232, 237);
    color: rgb(43, 42, 42);
    &__price {
        font-weight:600;
        color: black;
    }
}